<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="\static\css\style.css">
        <title>Сайт за 5 секунд</title>
        <meta charset="uft-8">
    </head>
    <body>
        <div>
            <h1>Пикчи</h1>
        </div>
        <div class="pic">
            <p>Пикча №1</p>
            <img src="\img\fullhd.webp" alt="Idk">
            <p>Пикча №2</p>
            <img src="\LearningFlask\img\fullhd2.webp" alt="Smoke">
            <p>Пикча №3</p>
            <img src="\LearningFlask\img\fullhd3.webp" alt="House">
            <p>Пикча №4</p>
            <img src="\LearningFlask\img\fullhd4.webp" alt="Big donut">
            <p>Пикча №5</p>
            <img src="\LearningFlask\img\fullhd5.webp" alt="Mushrooms">
            <p>Пикча №6</p>
            <img src="\LearningFlask\img\fullhd6.webp" alt="Abandoned library">
            <p>Пикча №7</p>
            <img src="\LearningFlask\img\fullhd7.webp" alt="Bass">
            <p>Пикча №8</p>
            <img src="\LearningFlask\img\fullhd8.webp" alt="Forest">
            <p>Пикча №9</p>
            <img src="\LearningFlask\img\fullhd9.webp" alt="Wow">

        </div>

    </body>
</html>
